body{
    background-image: url('bg.jpg');
}
#regContainer{
    background-image: url('visa_bg.jpg');
    /* Add the blur effect */
    backdrop-filter: blur(8px)  brightness(50%);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}